@import '../../scss/variables';
@import '../../scss/libs/normalize';

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @media (max-width: 410px) {
    justify-content: space-evenly;
  }

  .item {
    background-color: $gray-line;
    padding: 13px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    @include noselect();

    &:hover {
      background-color: darken($gray-line, 2%);
    }

    &:active {
      background-color: darken($gray-line, 5%);
    }

    &.active {
      background-color: $orange;
      color: #fff;
    }
  }
}
