@import '../../scss/variables';

.adminSidePanel {
  position: sticky;
  top: 20px;
  height: fit-content;
  max-width: max-content;
  padding-right: 20px;
  border-right: 3px $text solid;
  display: flex;
}

.list {
  width: max-content;
  display: flex;
  flex-direction: column;
  background-color: $orange;
  border: 3px $red solid;
}

.item {
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: $orange;
  color: white;
  cursor: pointer;

  transition: all 0.3s ease;
  &:hover {
    background-color: darken($orange, 10%);
  }
}

.item + .item {
  border-top: 2px $text solid;
}
