@import '../../../scss/variables';
@import '../../../scss/libs/normalize';

.payForm {
  display: flex;
  margin: 20px 0;
  gap: 10px;

  .order {
    &__info {
      padding: 0 10px;

      .user {
        &__info {
          display: flex;
          flex-direction: column;
          p {
            font-weight: bold;
          }
        }
        &__name {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}

.switch {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  &__label {
    display: flex;
  }
  &__on {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    resize: none;
    border-radius: 12px;
    border: 2px solid $text;
  }

  &__container {
    gap: 25px;
    display: flex;
  }

  .label {
    display: flex;
    flex-direction: column;
  }

  .input {
    &__img {
      width: 0;
      height: 0;
      padding: 0;
      border: none;
      overflow: hidden;
    }

    &__svg {
      width: 150px;
      height: 150px;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #000000;
        transition: all 0.5s ease;
        path,
        polyline,
        line {
          stroke: white;
        }
      }
    }
  }

  .error {
    color: $red;
    padding: 5px;
  }

  .img {
    max-width: 150px;
    max-height: 150px;
  }

  .btn {
    cursor: pointer;
    display: inline-flex;
    column-gap: 2px;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    max-width: fit-content;
    &__inputs {
      border: none;
      display: flex;
      align-items: center;
      background-color: white;
      height: 24px;
      height: inherit;
      cursor: pointer;
      &:hover {
        background-color: darken(white, 10%);
      }
      svg {
        width: 24px;
        height: inherit;
      }
    }
    &__container {
      display: flex;
      justify-content: end;
    }
  }

  .success,
  .cancel {
    margin: 10px;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid white;
    }
  }

  .success {
    color: $text;
    font-weight: bolder;
    background-color: $success;
    border: 2px solid transparent;
    &:hover,
    &:focus {
      border: 2px solid $text;
    }
  }

  .cancel {
    color: black;
    font-weight: bold;
    background-color: $cancel;

    &:hover,
    &:focus {
      border: 2px solid $text;
    }
  }
}

.cart {
  &__item {
    position: relative;
    column-gap: 10px;
    display: flex;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid $gray-line;
    border-bottom: 1px solid $gray-line;

    &_img {
      display: flex;
      align-items: center;

      width: 80px;
      height: 80px;
    }

    &Info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &Count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;
      width: 100px;

      b {
        font-size: 22px;
      }
    }

    &Price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    .popover {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 15px;
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 25px;
        height: 25px;
        border: 2px solid $text;
        border-radius: 50%;
        background-color: $gray-line;
      }
      &__list {
        flex-direction: row;
      }
      &__item {
        position: relative;
        font-size: 12px;

        &:not(:last-child)::after {
          position: absolute;
          right: 4px;
          top: 0;
          transform: translate(0.5rem, 0px);

          content: ',';
        }
        &:last-child::after {
          position: absolute;
          right: 4px;
          top: 0;
          transform: translate(0.5rem, 0px);

          content: '.';
        }
      }
      &__panel {
        width: 300px;
        z-index: 1;
        border-radius: 12px;
        position: absolute;
        padding: 5px;
        border: 2px solid $info;
        background-color: $gray-line;
        p {
          color: $text;
          font-weight: bold;
        }
      }
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
