@import '../../scss/variables';
.pagination {
  margin: 20px 0;

  li {
    display: inline-block;

    &:global {
      &.selected {
        a {
          background-color: $orange;
          color: $modal-bg;
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 45px;
      height: 45px;
      padding: 9px;
      margin-right: 10px;
      border: 2px solid $orange;
      border-radius: 50%;
      font-weight: bold;
      cursor: pointer;
      color: $orange;
      &:hover {
        background-color: $orange;
        color: $modal-bg;
      }
    }
  }
}
