.adminIngredient {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  .empty,
  .title {
    width: fit-content;
    text-align: start;
  }
  .title {
    border-bottom: 3px solid black;
  }
}

.ingredientList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.btn {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  &:focus,
  &:hover {
    color: orange;
    background-color: transparent;
    border-color: orange;
  }
}
