@import '../../scss/variables';
.adminUser {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.user {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.tab {
  &__list {
    gap: 20px;
    border-radius: 12px;
    padding: 5px;
    width: 100%;
    display: flex;
  }
  &__item {
    background-color: transparent;
    border: 2px solid transparent;
    color: $text;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    &:focus,
    &:hover {
      background-color: $gray-line;
      color: $orange;
    }
  }
}

.active {
  background-color: $gray-line;
  color: $orange;
}
