$text: #003049;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$btn__bg: #fcbf49;
$red: #d62828;
$modal-bg: white;
$info: #fcf6bd;
$success: #b9fbc0;
$cancel: #f45555;

$container-width: 1460px;

$duration: 0.15s;
