@import './_variables';

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.modal {
  position: relative;
  max-width: 800px;
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: $modal-bg;
  border: 3px solid $text;
  border-radius: 20px;
  padding: 30px;
  color: $text;
  &__container {
    padding: 10px;
    border-radius: 20px;
    background-color: $modal-bg;
  }
  .btn {
    &__close {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      cursor: pointer;
      display: flex;
      border: 3px solid transparent;
      border-radius: 25%;
      background-color: transparent;
      transition: all 0.3 ease;
      &:hover,
      &:focus {
        path {
          fill: $btn__bg;
        }
      }
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.description {
  border-bottom: 3px solid black;
  margin-bottom: 15px;
  padding: 5px;
}

.label {
  display: flex;
  flex-direction: column;
}

.comboBox {
  &__input {
    position: relative;
    width: 100%;
    display: flex;
    input {
      padding: 5px;
      border: none;
      width: 100%;
    }
  }
  &__list {
    z-index: 1;
    position: absolute;
    padding: 5px 0;
    top: 30px;
    left: 0;
    color: #000000;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
  }

  &__item {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: darken(white, 20%);
    }
  }
}

.input {
  &__img {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__svg {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #000000;
      transition: all 0.5s ease;
      path,
      polyline,
      line {
        stroke: white;
      }
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-flex;
  column-gap: 2px;
  align-items: center;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  max-width: fit-content;
  &__inputs {
    border: none;
    display: flex;
    align-items: center;
    background-color: white;
    height: 24px;
    height: inherit;
    cursor: pointer;
    &:hover {
      background-color: darken(white, 10%);
    }
    svg {
      width: 24px;
      height: inherit;
    }
  }
  &__container {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
}

.success {
  color: black;
  font-weight: bold;
  background-color: rgb(36, 161, 36);
  &:hover {
    background-color: darken(rgb(36, 161, 36), 10%);
  }
}

.cancel {
  color: black;
  font-weight: bold;
  background-color: rgb(197, 53, 53);

  &:hover {
    background-color: darken(rgb(197, 53, 53), 10%);
  }
}
